function {{name}}(input: validationInput): validationOutput {
    const scope = payloadUtils.getJsonPath(input.payload,"{{{scopePath}}}");
    let subResults: validationOutput = [];
    let valid = true;
    for(const testObj of scope){
        testObj._EXTERNAL = input.externalData;
        {{#variables}}
        const {{name}} = {{{value}}}
        {{/variables}}
        
        {{#hasContinue}}
            const skipCheck = {{{skipCheckStatement}}};
            if(skipCheck) continue;
        {{/hasContinue}}

        {{{validationCode}}}
        delete testObj._EXTERNAL;
    }
    return [{valid: valid,code: {{successCode}} },...subResults];
}